TestProject/.vscode/launch.json
TestProject/.vscode/tasks.json
TestProject/obj/project.assets.json
TestProject/obj/project.nuget.cache
TestProject/obj/TestProject.csproj.nuget.dgspec.json
TestProject/obj/TestProject.csproj.nuget.g.props
TestProject/obj/TestProject.csproj.nuget.g.targets
TestProject/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TestProject/obj/Debug/net6.0/TestProject.AssemblyInfo.cs
TestProject/obj/Debug/net6.0/TestProject.AssemblyInfoInputs.cache
TestProject/obj/Debug/net6.0/TestProject.assets.cache
TestProject/obj/Debug/net6.0/TestProject.csproj.AssemblyReference.cache
TestProject/obj/Debug/net6.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
TestProject/obj/Debug/net6.0/TestProject.GlobalUsings.g.cs
